@-webkit-keyframes slidein {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

@keyframes slidein {
    0% {
        -webkit-transform: scale(0);
                transform: scale(0)
    }

    to {
        -webkit-transform: scale(1);
                transform: scale(1)
    }
}

@-webkit-keyframes slideintxt {

    0%,
    50% {
        opacity: 0;
        -webkit-transform: translateY(50%);
                transform: translateY(50%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

@keyframes slideintxt {

    0%,
    50% {
        opacity: 0;
        -webkit-transform: translateY(50%);
                transform: translateY(50%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0)
    }
}

@-webkit-keyframes slideintxtMobile {

    0%,
    50% {
        opacity: 0;
        -webkit-transform: translateY(70%);
                transform: translateY(70%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(28px);
                transform: translateY(28px)
    }
}

@keyframes slideintxtMobile {

    0%,
    50% {
        opacity: 0;
        -webkit-transform: translateY(70%);
                transform: translateY(70%)
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(28px);
                transform: translateY(28px)
    }
}