@media screen and (max-width: 768px) {

    .slider {
        max-width: min(calc(80vh + 20px), calc(80vw + 20px));
        height: min(88vh, 88vw);
    }

    .slides {
        height: 100%;
    }

    .slide {
        height: calc(100% - 20px);
        min-width: min(80vh, 80vw);
    }

    .slide__mem {
        height: calc(80% - 10px);
        width: min(80vh, 80vw);
        align-items: flex-end;
    }

    .slide__mem img {
        max-height: 100%;
        max-width: 100%;
    }

    .slide__description {
        max-width: 100%;
        text-align: center;
        height: 20%;
        transform: translate(0px, 28px);
    }

    .navigation {
        text-align: center;
        height: 20%;
        transform: translateX(0px, calc(-100% - 20px));
        margin-left: 0;
    }

    .navigation .navigation__button {
        margin: 0 5px;
        padding: 20px;
    }

    .navigation__button:active{
        
    }
    #mem1:target~.navigation .navigation__button:first-child,
    #mem2:target~.navigation .navigation__button:nth-child(2),
    #mem3:target~.navigation .navigation__button:nth-child(3),
    #mem4:target~.navigation .navigation__button:nth-child(4),
    #mem5:target~.navigation .navigation__button:nth-child(5),
    #mem6:target~.navigation .navigation__button:nth-child(6),
    #mem7:target~.navigation .navigation__button:nth-child(7),
    #mem8:target~.navigation .navigation__button:nth-child(8) {

        margin-left: 5px;
        margin-right: 5px;
    }

    #mem1:target~.slides #description1,
    #mem2:target~.slides #description2,
    #mem3:target~.slides #description3,
    #mem4:target~.slides #description4,
    #mem5:target~.slides #description5,
    #mem6:target~.slides #description6,
    #mem7:target~.slides #description7,
    #mem8:target~.slides #description8 {
        animation: slideintxtMobile 1.5s ease-in-out
    }
}